#form{
    display: flex;
    margin-top: 2%;
    flex-wrap: wrap;
    width: fit-content;
}
div{
    width: 100%;
}
#checksContainer{
    div{
        padding: 0.6rem 0;
    }
}
button{
    height: 2.2rem;
    width: 9rem;
}
button.selected {
  border: 0.3rem solid var(--secondaryColor);
}
button:hover {
    filter: brightness(90%)
}
