#mainContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    margin: 0 2rem;
    justify-content: space-evenly;
}

.restaurantContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

img {
    height: 10rem;
    width: 10rem;
}
svg{
    height: 10rem;
    width: 10rem;
}
#plus{
    display: flex;
    align-items: center;
    justify-content: center;
}

#link {
    text-decoration: underline;
}

.imgContainer {
    margin: 1rem 0;
    height: 10rem;
    display: flex;
    //Shadow de https://getcssscan.com/css-box-shadow-examples
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 0.7rem;
    overflow: hidden;
}