#form{
    display: flex;
    margin-top: 2%;
    flex-wrap: wrap;
    width: fit-content;
    flex-direction: column;
}
.mainPageWithHeader{
    margin-top: 4%;
}
.inputContainerForm{
    align-items: center;
}
.error{
    text-align: center;
}
div{
    width: 100%;
}
#checksContainer{
    div{
        padding: 0.6rem 0;
    }
}
.mainInput{
    width: clamp(10rem, 20vw,15rem);
}
button{
    height: 2.2rem;
    width: 9rem;
}
button.selected {
  border: 0.3rem solid var(--secondaryColor);
}
button:hover {
    filter: brightness(90%)
}
