@if(idCategory()){
<app-top-bar-layout pageTitle="Editar Categoria"></app-top-bar-layout>
}
@else {
<app-top-bar-layout pageTitle="Crear Categoria"></app-top-bar-layout>
}
<button class="backButton" (click)="goBack()">← Volver</button>
<div class="mainPageWithHeader">
    <form (ngSubmit)="handleFormSubmission(categoryForm)" #categoryForm="ngForm" class="form" id="form">
        <div class="inputContainerForm">
            <label for="name" class="required-label">Nombre</label>
            <input class="mainInput" id="name" name="name" type="text" ngModel required="true" minlength="1"
                maxlength="30" #name="ngModel" />
            <div class="errorContainer">
                @if (name.dirty && name.invalid) {
                <p class="error">El nombre es obligatorio y debe tener entre 1 y 30 caracteres</p>
                }
            </div>
        </div>
        <div class="inputContainerForm">
            <label for="description">Descripción</label>
            <input class="mainInput" id="description" name="description" type="text" ngModel maxlength="200"
                #description="ngModel" />
        </div>
        <input type="hidden" name="productsId" ngModel #productsId="ngModel" />
        <div class="inputContainerForm">
            <label>Productos del Restaurante</label>
            <div class="products-list">
                @for (product of restaurantProducts; track product.id) {
                <div class="product-checkbox">
                    <input type="checkbox" [id]="'product-' + product.id"
                        [checked]="selectedProductIds.includes(product.id)"
                        (change)="toggleProductSelection(product.id)" />
                    <img [src]="product.urlImage" [alt]="product.name" class="product-thumbnail" />
                    <label [for]="'product-' + product.id">{{ product.name }}</label>
                </div>
                }
                @empty {
                <p>No hay productos disponibles</p>
                }
            </div>
        </div>
        <div class="errorContainer">
            @if (backError) {
            <p class="error">Error indeterminado, intente nuevamente.</p>
            }
        </div>

        <div class="inputContainerForm">
            @if(idCategory()){
            <button class="btn-primary" [disabled]="categoryForm.invalid || backRequestInProgress()">Editar
                Categoría</button>
            } @else {
            <button class="btn-primary" [disabled]="categoryForm.invalid || backRequestInProgress()">Agregar
                Categoría</button>
            }
            @if (backRequestInProgress() == true) {
            <app-spinner />
            }
        </div>
    </form>
    @if (idCategory()) {
    <button class="btn-danger-outline" (click)="deleteCategory(idCategory()!)">Borrar Categoria</button>
    }
</div>