@if (isOwner() == true && category().id == 0) {
<a [routerLink]="['/category', idRestaurant(),'New']">
    <div class="categoryBanner">
        <h2>{{category().name}}</h2>
        <h3>{{category().description}}</h3>
    </div>
</a>
}
@else {
<a [routerLink]="['/category/', idRestaurant(), 'Edit', category().id]">
    <div class="categoryBanner">
        <h2>{{category().name}}</h2>
        <h3>{{category().description}}</h3>
    </div>
</a>
}
@if (showProducts() == true) {
<div class="productsContainer">
    @for (product of category().products; track product.id) {
    <app-product-item [isOwner]="isOwner()" [idRestaurant]="idRestaurant()" [product]="product"></app-product-item>
    }
    @if (isOwner() == true) {
    <app-new-product-item id="newProduct" [idRestaurant]="idRestaurant()"></app-new-product-item>
    }
</div>
}