@if (isOwner() == true && category().id == 0) {
<a [routerLink]="['/category', idRestaurant(),'New']">
    <div class="categoryBanner">
        <h2>{{category().name}}</h2>
        <h3>{{category().description}}</h3>
    </div>
</a>
}
@else {
<a [routerLink]="['/category/', idRestaurant(), 'Edit', category().id]">
    <div class="categoryBanner">
        <h2>{{category().name}}</h2>
        <h3>{{category().description}}</h3>
    </div>
</a>
}
<div class="productsList">
    @for (product of category().products; track product.id) {
    <div class="productContainer">
        <app-product-item [isOwner]="isOwner()" [idRestaurant]="idRestaurant()" [product]="product"></app-product-item>
    </div>
    }
    @if (isOwner() == true) {
    <div class="productContainer">
        <app-new-product-item [idRestaurant]="idRestaurant()" id="newProduct"></app-new-product-item>
    </div>
    }
</div>