/* You can add global styles to this file, and also import other style files */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;

}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden; 
	overflow-y: auto;
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
	color: var(--color-text);
}

button {
	cursor: pointer;
	font-family: var(--font);
}

html {
	font-size: 22px;
}

@media (min-width: 768px) {
	html {
		font-size: 23px;
	}
}

@media (min-width: 1024px) {
	html {
		font-size: 25px;
	}
}

*{
	font-family: var(--textFont);
}


h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.6rem;
}

p {
	font-size: 1rem;
}
.mainPageWithHeader{
	display: flex;
	justify-content: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.mainInput{
	text-align: center;
	height: 1.5rem;
	align-self: center;
	font-size: 0.9rem;
	border-radius: 0.6rem;
}

.inputContainerForm{
	display: flex;
	flex-direction: column;
	padding: 0.5rem 0;
	gap: 0.3rem;
	text-align: center;
}
.form{
	border: 0.3rem var(--secondaryColor) solid;
	border-radius: 0.5rem;
	padding: clamp(0rem, 3vw, 2rem) 0;
	margin-top: 5%;
	margin-bottom: 2%;
}
.errorContainer{
	min-height: clamp(1.5rem, 2vw, 2rem);
	min-width: clamp(15rem, 50vw, 26.192rem);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.error{
	text-align: center;
	color: var(--errorColor);
	padding: 0 0.4rem;
}

:root {
	--topBarColor: #000FAF;
	--secondaryColor: #EAEAEA;
	--errorColor: rgb(128, 128, 128);
	--textColor: #000000;
	--backgroundSwalColor: #181818;
	--logoFont: "Faster One", system-ui;
	--logoColor: #ffffff;
	--textFont: "Geologica", sans-serif;
	--categoryColor: #EEEE2F;
	--confirmColor: #581712;
}